/*Input section of the page*/
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.top-box {
  background-color: #B5C4DD;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

h1{
  color: #6d6e71;
  display: inline-block;
  font-size: 275%;
  margin-bottom:  30px;
}

.to-do {
  color: #305D96;
}

#title-input, #body-input {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
  margin-top: 10px;
  width: 400px;
}

.alert-user {
  color: black;
  display: inline;
  font-size: 10px;
  margin-bottom: 10px;
}

.save-btn {
  background-color: #305D96;
  border: none;
  color: #fff;
  font-size: 120%;
  height: 30px;
  margin: 10px 0 25px 0;
  width: 405px;
}

.save-btn:hover {
  background-color: #0B2C81;
}

#search-input {
  height: 30px;
  margin-top: 30px;
  width: 400px;
}

input {
  align-items: center;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  justify-content: space-between;
  margin: auto;
}

/*output section of the page*/
.card-container {
  margin: auto;
  position: relative;
  width: 400px;
}

.card {
  background-color: #ffffff;
  height: auto;
  margin: auto;
  width: 45%;
}

.title-of-card{
  color: #6D6E71;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 140%;
}

h2 {
  color: #6d6e71; 
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 150%;
}

p {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
}

.body-of-card{
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

button {
  background-color: transparent;
  border: none;
}

.button {
  background-size: cover;
  height: 20px;
  width: 20px;
  display: inline;
}

.upvote-button {
  background-image: url(./images/upvote.svg);
  margin-right: 5px; 
}

.upvote-button:hover {
  background-color: transparent;
  background-image: url(./images/upvote-hover.svg);
}

.downvote-button {
  background-image: url(./images/downvote.svg);
  margin-right: 5px; 
}

.downvote-button:hover {
  background-image: url(./images/downvote-hover.svg);
}

.delete-button {
  background-image: url(./images/delete.svg);
  background-size: cover;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 15px;
  width: 20px;
}

.delete-button:hover {
  background-image: url(./images/delete-hover.svg);
  background-size: cover;
  height: 20px;
  width: 20px;
}

.quality {
  display: inline;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  
}

.hidden{
  display: none;
}

.complete-task {
  background-color: #305D96;
  border: 1px solid black;
  border-radius: 50px;
  color: #FFF;
  float: right;
  padding: 3px 5px 3px 5px;
}

.complete-task:hover {
  background-color: #0B2C81;
}

.change-opacity {
  opacity: 0.5;
}

.completed-tasks-button, .filter-button {
  background-color: #305D96;
  border: 1px solid black;
  border-radius: 50px;
  color: #FFF;
  display: inline-block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 3px 5px 3px 5px;
}

.completed-tasks-button {
  width: 160px;
}

.completed-tasks-button:hover {
  background-color: #0B2C81;
}

.filter-buttons {
  margin: 0 auto;
  margin-bottom: 20px;
}

.filter-button {
  width: 80px;
}

.filter-button:hover {
  background-color: #0B2C81;
}


@media(max-width: 640px){

  .card-container {
    width: 85%;
  }
  
}


/*@media(max-width: 640px){

  .card-container {
    width: 400px;
  }

  input {
    width: 400px;
  }

  .save-btn {
    width: 300px;
  }



}*/